@tailwind base;
@tailwind components;
@tailwind utilities;

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member:hover .overlay {
    opacity: 1;
    transform: translateY(0);
    

}


